DATABASE_URL="mysql://user:pass@host:3306/poly"
ORIGIN="http://localhost:5173"

# QQ Notification Configuration (Optional)
# Default Proxy URL for QQ Bot
QQ_PROXY_URL="http://110.4.20.23:8999/proxy"
# Default Target URL for QQ Bot
QQ_TARGET_URL="http://127.0.0.1:3000/send_private_msg"

